.tweet-tile {
  display: flex;
  padding: 10px 10px 10px 15px;
  border-bottom: 1px solid #808080;

  min-height: 87px;
  background-color: white;

  &.is-dragging {
    border: 1px solid #cccccc;
    background-color: #e6e6e6;
    border-radius: 3px;
  }

  .image {
    margin-right: 10px;
    border-radius: 3px;

    img {
      width: 58px;
      height: 58px;
    }
  }

  .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .name {
    font-weight: 500;
  }

  .handle {
    margin-left: 10px;
    margin-right: 10px;
    font-size: 12px;
  }

  .date {
    font-size: 12px;
  }

  .tweet {
    font-size: 12px;
  }

  .details-container {
    width: 100%;
  }
}
